.blog{
    color: crimson;
    font-size: medium;

}
div{
    border: 2px solid darkgreen;
    border-bottom-left-radius: 25px;
    margin: 5px;
    border-top-right-radius: 25px;
}
ul{
    background-color: rgb(11, 123, 175);
}
h1{
    text-align: center;
    color: rgb(4, 49, 47);
    background-color: darkgrey;
}
h2{
    text-align: center;
    color: rgb(243, 8, 153);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
img{
 border: 5px solid darkred;
 height: 500px;
 width: 500px;
    
   
}
hr{
    height: 5px;
}
h5{
    text-align: center;
    color: yellowgreen;
    background-color: rgb(58, 38, 38);
}
ol{
    color: darkgreen;
}